@import '../themes/zola_easydocs_theme/sass/main';

figure {
  max-width: 100%;
  width: 35%;
  float: right;
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 80%;
}

article {
  max-width: 7in;
}

h2 {
  font-size: 1.15em;
}

h3 {
  font-size: 1.05em;
}

p {
  line-height: 1.40;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

code {
  line-height: 1;
}

h1 .anchor, a + .anchor {
  display: none;
}

@media screen and (max-width: 768px) {
  figure {
    float: none;
    width: inherit;
    min-width: 256px;
  }
}

nav {
  width: 15rem;
}
