{% set path = page.path | default(value=section.path) %}
{% set abspath = "./" ~ path ~ src  %}
{% set meta = get_image_metadata(path=abspath) %}
{% set width = meta.width %}
{% set srcset_list = [] %}
{% for s in config.extra.images_sizes %}
  {% if width >= s %}
    {% set resized = resize_image(path=abspath, width=s, op="fit_width") %}
    {% set element = resized.url ~ " " ~ s ~ "w" %}
    {% set_global srcset_list = srcset_list | concat(with=[element]) %}
  {% endif %}
{% endfor %}
<figure>
  <img alt="{{ alt }}" src="{{ src }}" srcset="{{ srcset_list | join(sep=", ") | safe }}" width={{ width }} />
  <figcaption>{{ caption }}</figcaption>
</figure>
