{% set catslug = category.name | slugify %}

resource discord_category_channel {{ catslug }} {
  name = "{{ category.name | safe }}"
  server_id = resource.discord_server.server.id
  position = {{ cat_index }}
}

{% for name in category.channels | default(value=[]) %}
  {% set chanslug = name | slugify %}
  {% set channel = load_data(path="content/"~dir~"/"~catslug~"/"~chanslug~".toml") %}
  {% set chan_name = name %}
  {% if channel.type == "text" %}
    {% include "terraform/text_channel.tf.html" %}
    {% set_global chan_index = chan_index + 1 %}
  {% elif channel.type == "voice" %}
    {% include "terraform/voice_channel.tf.html" %}
  {% else %}
    {{ throw(message="invalid channel type"~channel.type) }}
  {% endif %}
{% endfor %}