terraform {
  required_version = ">= 0.13.0"

  required_providers {
    discord = {
      source = "{{ config.extra.tf_provider.source | safe }}"
      version = "{{ config.extra.tf_provider.version | safe }}"
    }
  }
}

provider discord {
  token = var.token
}

variable token {
  description = "Discord bot token"
  type = string
  sensitive = true
}

resource discord_server server {
  name = "{{ page.title | safe }}"
  {% for name, value in page.extra.args %}
    {{ name }} = "{{ value | as_str | safe }}"
  {% endfor %}
}

locals {
  server_id = resource.discord_server.server.id
}

{% set dir = page.relative_path | split(pat="/") | slice(end=-1) | join(sep="/") %}
{% set chan_index = 0 %}
{% for name in page.extra.categories %}
  {% set catslug = name | slugify %}
  {% set category = load_data(path="content/"~dir~"/"~catslug~".toml") %}
  {% set cat_index = loop.index0 %}
  {% include "terraform/category.tf.html" %}
  {% set_global chan_index = category.channels | length + chan_index %}
{% endfor %}
